<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.AddTransactionActivity"></activity>
        <activity android:name=".Activities.AddAccountActivity" />
        <activity android:name=".Activities.DetailActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="Registration" />
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.EditActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>